<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Issues</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Issue Area</th>
                        <th scope="col">Department</th>
                        <th scope="col">Issue Status</th>
                        <th scope="col">Validated</th>
                        <th scope="col">Resolved</th>
                        <th scope="col">Resolved Date</th>
                        <th scope="col">Raised By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of issues" (click)="onSelect(issue.issueID)">
                        <td>{{issue.issueArea}}</td>
                        <td>{{issue.department.depName}}</td>
                        <td>{{issue.issueStatus}}</td>
                        <td>{{issue.isValidated}}</td>
                        <td>{{issue.isResolved}}</td>
                        <td>{{issue.issueResolvedDate}}</td>
                        <td *ngIf="issue.raisedByUser !== null">{{issue.raisedByUser.firstName}} {{issue.raisedByUser.surname}}</td>
                        <td *ngIf="issue.raisedByUser === null">N/A</td>
                    </tr>
                </tbody>
              </table>
              <button class="btn btn-secondary" (click)="onBack()" style="margin-right: 15px;">Back</button>
              <button class="btn btn-secondary" (click)="generatePdf()">Print Report</button>
        </div>
    </div>
</div>